
form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
  }

.goal-button{
   top: 0.5em;
   position: absolute;
   left: 3.5em;
}